
html{
    font-size: 18px;
    font-family: sans-serif;
    background-color: #D9C5B4;
    margin: auto;
}

body{
    color: #59331D;
}
p{
    text-indent: 1rem;
}
h1,h2,h3{
    text-align: center;
}
h1{
    font-size: 1.8em;
}
h2{
    font-size: 1.4em;
}
h3{
    font-size: 1.2em;
}
.summary{ 
    text-align: center;
}
.main p{
    line-height: 1.5;
}
abbr{font-variant: small-caps;}
.page-wrapper{
    width: 80%;
    max-width: 1280px;
    margin: auto;
}

#zen-intro{
    height: 550px;
}

#design-archives{
    display: none;
}

#zen-intro header{
    background-color: #59331D;
    color: #D9C5B4;
}

#zen-intro header h1,#zen-intro header h2{
    display: inline-block;
    
}

#zen-intro header h1{
    margin-left: 1em;
    margin-right: 1em;
}

a{
    color: #67A1A0;
    
}

aside ul{
    list-style-type: none; 
}
aside ul li{
    margin: 1em;
    text-align: center;
}
.main footer{
    margin: 4%;
}
.main footer a{
   border: solid 2px; 
   padding: 0.5em;
   display: inline block;
}
.page-wrapper{
    position: relative;
}
.explanation {
    width: 60%;
    border-right: 1px #59331D;
    padding-right: 2%;
}
#design-selection{
    position: absolute;
    top: 520px;
    left: 62%;
    padding-left: 2%;
    padding-right: 2%;
}
.supporting footer {
    display: flex;
    justify-content: space-evenly;
}
.benefits{
    display: flex;
    border-top: #59331D solid 1px;
    border-bottom: #59331D solid 1px;

}
.benefits p {
    flex-basis: 70%;
}
.benefits h3 {
    order: 2;
    align-self: center;
    flex-basis: 30%;
}
.participation{
    display: flex;
    flex-wrap: wrap;
    border-top: #59331D solid 1px;
}
.participation h3, .participation p {
    flex-basis: 50%;
}
.participation h3{
    align-self: center;
}
/* Media query */
@media screen and (max-width:768px) {
    .design-selection {
        position: static;
        width: 100%;
    }
    
    .explanation {
        border-right: none;
        width: 100%;
    }
    #zen-intro {
        height: auto;
    }
    .participation {
        flex-direction: column;
    }
    p {
        text-indent: 0;
    }
@media print {
    html{
        font-family: 'Times New Roman', Times, serif;
    }
    #zen-intro header{
        background-color: #D9C5B4;
        color: #59331D;
    }
    .design-selection {
        position: static;
        width: 100%;
    }
    
    .explanation {
        border-right: none;
        width: 100%;
    }
    #zen-intro {
        height: auto;
    }
    .participation {
        flex-direction: column;
    }
    p {
        text-indent: 0;
    }
}
}